# ROS2 build artifacts
build/
install/
log/

autoware/
tracter_ws/src/

# Environment files
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
ENV/

# Repository management
# (Exclude sub-repos if you use vcs or git submodules separately)
# tracter_ws/src/control/tracter_control/

# IDEs
.vscode/
.idea/
.DS_Store

# Temporary files
*.swp
*.bak
*~
tracter_ws/src/control/tracter_control/
tracter_ws/src/vehicle/tracter_odometer/
docs/tracter_trailer/
